<div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <img src="../images/grad.jpg" class="img-fluid">
                    <p class="about-me"><em>Vanessa is a software engineer currently living in the San Francisco bay area.</em>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h3>ABOUT</h3>
                        <p class="lead about-me"><br>Experienced <strong>Software Engineer</strong> with a demonstrated history of working in
                            communications. Genuine focus on gender equality, diversity and social good through the use of
                            technology including but not limited to:
                            Full Stack Development, Dev Ops, Databases, and Mobile Applications.</p>
                        <p class="about-me">She is currently working as a remote Software Development Engineer II at Time, Inc.
                            based out of New York, NY.
                            She was recently recognized as a graduate from the OMSCS program at Georgia Tech </p>

                    </div>

                    <div class="row">
                        <h3>CONTACT</h3><br>
                    </div>
                    <div class="row">
                        <p class="text-muted">nessa.lauren5@gmail.com</p>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                           <a href="https://www.facebook.com/truthfulness5"><img src="../images/fbblack.png" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-2 offset-md-1">
                            <a href="https://www.linkedin.com/in/nessalauren/"><img src="../images/linkedinblack.png" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-1 offset-md-1">
                            <a href="https://www.instagram.com/truthful_ness/" ><img src="../images/igb.png" class="img-fluid"> </a>
                        </div>

                    </div>

                    </div>
                </div>

        </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../javascripts/chat.js"></script>
