
    <div class="row bottom-section" style="padding-top: 20px;">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                Pan around the photo for a 360 degree view.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="carouselVR" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselVR" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselVR" data-slide-to="1"></li>
                    <li data-target="#carouselVR" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <iframe class="embed-responsive" src="https://s.insta360.com/p/6c2ee4e9234b5bb1d2dd78780cf44027?e=true&locale=en_us?e=true" width="666" height="413"></iframe>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Sandy Beach in Honolulu, HI</h3>
                            <p>Running from waves </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <iframe class="embed-responsive" src="https://s.insta360.com/p/6ba2d9bd3ab3f0111503442cd8fdee68?e=true&locale=en_us?e=true" width="666" height="413"></iframe>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Sandy Beach in Honolulu, HI</h3>
                            <p><i class="fa fa-sun-o" aria-hidden="true"></i> <i class="fa fa-sun-o" aria-hidden="true"></i> </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                            <iframe class="embed-responsive" src="https://s.insta360.com/p/f3dbbce2f4334beeaf90dca877ed50cf?e=true&locale=en_us?e=false" width="666" height="413"></iframe>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Georgia Tech in Atlanta, GA</h3>
                                <p>Graduation for OMSCS</p>
                            </div>

                    </div>
                    <div class="carousel-item">
                        <iframe class="embed-responsive" src="https://s.insta360.com/p/d2453761f406a0016b47a6fc56b3364e?e=true&locale=en_us?e=false" width="666" height="413"></iframe>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Miami, FL</h3>
                            <p>SweetHeat Pool Party</p>
                        </div>
                    </div>
                    <!--div class="carousel-item">
                        <iframe class="embed-responsive" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D10105251159401403%26set%3Da.10100479380399773.2616602.14200523%26type%3D3&width=500" width="500" height="413"></iframe>
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Dolores Park in San Francisco, FL</h3>
                        </div>
                    </div-->
                </div>
                <a class="carousel-control-prev" href="#carouselVR" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselVR" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>